 
 @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Monoton&display=swap'); 

 @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Quicksand:wght@400;600&display=swap');

* {
    margin: 0rem;
  }

  :root {
    --color-body-bg: orange;
    --color-links: purple;
    --color-header-bg: white;
    --padding-header: 1rem;
  }

  body {
    background-color: var(--color-body-bg);
      width: 80%;
      max-width: 700px;
        margin: 0 auto;
        padding: 12px;  
  }

  h1 {
    color: blue;
    font-family: 'dosis';
    font-size: 40px;
    padding: 12px;
}

h2 {
   
  font-family: 'dosis';
  font-size: 25px;
  padding: 12px;
  color:aqua;  
}

h3 {
  font-family: 'covered by your grace';
  font-size: x-large;
  padding: 12px;
}

a {
  font-family: "dosis";
  color: var(--color-links); 
}

a:hover {
  color: white;
}

nav {
  padding: 12px;
}
  
  nav a {
   text-decoration: none; 
   line-height: 1.8rem;
  }

head {
    background-color: blue;
    padding: 5rem;
    color: white;
}

header {
  background-color: var(--color-header-bg);
  text-align: center;
  width: 100%;
  padding: var(--padding-header);
  }

.center {
  max-width: 40rem;
  margin: 0 auto;
}

.section {
  margin:0rem;
}



